.main-navigation{    margin: 0px;}
.logo img {
    width: 45px;
    display: inline;
    vertical-align: baseline;
}
.logo h2 {
    display: inline;
    margin-top: 0px;
    font-size: 30px;
}
#page {min-height:500px;}

.search-result-item {
	margin: 25px 15px;
    padding: 10px;
    min-height: 105px;
    background: lightblue;	
	border:1px solid gray;
	border-radius:5px;
}

.search-result-item .col-md-9 span{font-size:12px; display:block;}

.search-result-item img {width:100%;}

.search-result-item .action-buttons a {
    font-size: 18px;
}

.right-sidebar-widget ul li {
	list-style:none;
	cursor:pointer;
	margin-left:-15px;
}